* {
	font-family: "DejaVu", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}


.logo-opp-container, .coc-guy {
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
}

.logo-opp-container {
	background-image: url("../images/OPP-logo.png");
}

.coc-guy {
	background-image: url("../images/longue-vue.jpg");
}

.coc-logo {
	height: 40px;
	background-image: url("../images/coc-logo2.png");
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: none;
}

body > div.topbar {
	background: #940000;
	height: 40px;
	margin-bottom: 30px;
}

div.row.header {
	width: 100%;
	margin-bottom: 20px;
}

div.panel .opp-name {
	margin-bottom: 30px;
}

a.download.button i {
	margin-right: 10px;
	margin-top: 5px;
}

div.row.features {
	margin-top: 24px;
}

.donate-section	{
	text-align: center;
}

.donate-section a.button {
	height: 40px;
	margin: 0;
	float: right;
	background: white;
	color: #710000;
}

a.download-link:after {
	content:" - ";
}

a.download-link:last-of-type:after {
	content:"";
}

p.alt-versions {
	font-size: 80%;
}

.screenshots h3 {
	margin-bottom: 30px;
}

.screenshots li img {
	border: solid 4px #fff;
	box-shadow: 0 0 0 1px rgba(0,0,0,.2);
}

.contact-col {
	min-height: 444px;
}

body > #don {
	display: none;
}